controller:
  hosts:
    {{ .Controller }}:

webserver:
  hosts:
    {{ .Webserver }}:

analytics:
  hosts:
    {{ .Analytics }}

active-directory:
  hosts:
    {{ .ActiveDirectory }}

target:
  children:
    webserver:
    analytics:
    active-directory:
